* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.pg {
    background-color: black;
}

.post {
    width: 325px;
    background: white;
    border: 0px solid #ddd;
    border-radius: 0px;
    margin: 50px auto;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}



.textoinicial {
    display: flex;
    justify-content: space-between;
    
    padding: 2px;
    border-bottom: 1px solid #ddd;
}

.usuario {
    display: flex;
    font-size: 12px;
    color: (0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    padding:8px;
}

.opciones{
    align-items: right;
    padding-top: 10px;
    padding-right: 4px;
    font-size: 12px;
    
}

.usuario-icon {
    font-size: 25px;
    margin-right: 8px;
    
}

.username {
    font-weight: bold;
}

.locacion {
    font-size: 12px;
    color: (0, 0, 0, 0.1);
}

.post-img img {
    width: 100%;
    height: 300px;
    object-fit: fill;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
}

.left-icons i {
    margin-right: 10px;
}

.textoinf {
    padding: 10px;
}

.likes {
    font-size: 11px;
    margin-bottom: 5px;
}

.comentario {
    font-size: 11px;
    color: black
}